.productUploadImg {
  height: 80%;
  width: 70%;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
  border-width: 10px;
  border-style: dashed;
  margin: 44px 0;
  padding: 12px;
  box-shadow: 25px 16px 22px 0px rgba(168, 168, 168, 0.8);
  -webkit-box-shadow: 25px 16px 22px 0px rgba(168, 168, 168, 0.8);
  -moz-box-shadow: 25px 16px 22px 0px rgba(168, 168, 168, 0.8);
}

.css-krvuza {
  background-color: rgb(88 88 88 / 10%);
}

.css-1mjoxqy .MuiTextField-root {
  width: 55ch;
  margin: auto;
}

.imgDesigns {
  display: flex;
  justify-content: space-evenly;
}

.selectDesigns {
  border: 1px solid grey;
  border-radius: 26px;
  padding: 11px;
  background: grey;
  color: white;
}

.selectDesigns:hover {
  border-color: purple;
  background: purple;
  transform: scale(1.1);
  cursor: pointer;
}

.selectDesigns:active {
  border-color: purple;
  background: purple;
  transform: scale(1.1);
  cursor: pointer;
}

h1 {
  color: purple;
  font-style: italic;
  font-weight: bold;
}

.dropzone {
  border: 1px solid #256eb8;
  /*min-height: 360px;*/
  height: 70px;
  width: 70px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: blue;
  /* background-image: url("./forest-653448__340.png"); */
  padding: 0px;
  margin: 0px;
}

.bgUpload {
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}

.linearGradient {
  display: flex;
  justify-content: space-around;
}

/* display: inline-block;
background-image: url(blob:http://localhost:3000/e0cc2dff-61af-4bb1-89ab-96be0a82ccbe);
background-repeat: no-repeat;
width: 900px;
height: 860px;
margin: 12px;
border-width: 12px;



    display: inline-block;
    background-image: linear-gradient(45deg, rgb(133, 255, 189) 0%, rgb(255, 251, 125) 100%);
    background-color: darkslategrey;
    margin: 30px 0px; */
